## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

*.bib
*.bbl
*.bcf
*.blg
*.xml
*.synctex.gz
*.fdb*

__pycache__/
*.so
.vscode/
*~
*.swp
plot/
